html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Comfortaa', cursive;
    width: 100vw;
    overflow-x: hidden;
}


/* Small Devices sm */
   
     /* Nav Section sm */
    .nav {
        align-items: center;
        height: 10vh;
        background-color: #ffffff;
        box-sizing: border-box;
        font-family: 'Comfortaa', cursive;
        font-size: 17px;
    }

    .nav-link {
        color: black;
        font-size: 20px; 
    }

    /* Banner Section */
   .banner-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('./bannerDay.png');
        background-size: fill;
        background-repeat: no-repeat;
        height: 93vh;
        width: 100%;
        box-sizing: border-box;
   }

   .banner-box1 {
       display: flex;
        min-height: 370px;
        min-width: 355px;
        max-width: 490px;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: #1b3a63;
        border: 3px solid rgb(252, 223, 181);
        border-radius: 4%;
        color: rgb(255, 255, 255);
   }

   .box1-content {
        justify-content: center;
        margin-top: 20px; 
   }

   #head-name {
        text-align: center;
        font-family: 'Comfortaa', cursive;
        color: blanchedalmond;
        font-size: 50px;
   }

   #head-title {
        text-align: center;
        font-family: 'Prompt', sans-serif;
        color: blanchedalmond;
        font-size: 40px ;
   }
/* Toggle Switch for Dark Mode */
   /* The switch - the box around the slider */
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

.navs {
    display: flex;
    margin: 5px;
    font-family: 'Comfortaa', cursive;
}

 .switch-text {
    margin-right: 10px;
    font-size: 20px;
    color: blanchedalmond;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Nav Buttons */

   #about-link {
       color: white;
       background-color:#e19a59;
   }

   #experience-link {   
       color: white;
       background-color: #e7aa3e;
   }

   #portfolio-link {
       color: white;
       background-color: #e66245;
   }

   #contact-link {
       color: white;
       background-color: #315cd3;
   }
   
   
   /* About Me Section sm */
   .about-me-container {
    display: flex; 
    align-items: center;
    background-color: #9b5fa8;
    box-sizing: border-box;
}

   .about-head-text {
       font-family: 'Comfortaa', cursive;
       color: white;
       padding-top: 20px;
       font-size: 40px;
   }

   .about-me-text-container {
       display: flex;
       justify-content: center;
       flex-direction: column;
   }

   .about-me-col {
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       flex-direction: column;
       background-color: #e19859;
   }
   .about-text {
       display: flex;
       justify-content: center;
       text-align: center;
       font-family: 'Comfortaa', cursive;
       color: white;
       margin-left: 10vw;
       margin-right: 10vw;
       font-size: 20px;
   }

   .profile-photo {
    height: 300px;
    width: 400px;
    
   }

   .profile-photo-container {
       display: flex;
       justify-content: center;
       flex-direction: column;
       background-color: pink;
       margin-bottom: 50px;
   }


   /* My Experience Section */
   .card-deck {
    margin-bottom: 10px;
}


   .my-experience-container {
       display: flex;
       flex-wrap: wrap;
        background-color: #1b3a63;
        box-sizing: border-box;
       
    }

    .my-experience-head-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Comfortaa', cursive;
        font-size: 30px;
        margin-top: 40px;
        margin-left: 20px;
        margin-bottom: 40px;
        color: blanchedalmond;
    }

    .my-experience-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Comfortaa', cursive;
        font-size: 20px;
        text-align: center;
        margin-left: 5vw;
        margin-right: 5vw;
        color: blanchedalmond;
    }


   /* Cards Section */

    .card-deck {
        background-color: #1b3a63;
        
    }

   .card-1 {
       max-width: 600px;
       min-height: 200px;
       max-height: 200px;
       object-fit: contain;
   }
   .card-2 {
       min-height: 200px;
       max-height: 200px;
       object-fit: contain;
   }

   .card-title {
       display: flex;
       justify-content: center;
       font-family: 'Comfortaa', cursive;
       color: black;
   }

   .card-image-top {
       background-size: fill;
   }

   .card-text {
        font-family: 'Comfortaa', cursive;
        text-align: center;
        color: black;
   }

   .card-body {
       background-color: white;
   }

   .linkedIn-link {
       display: flex;
       justify-content: center;
       font-family: 'Comfortaa', cursive;
       font-size: 30px;
   }

   /* Portfolio Section */

   .anchor-container {
       display: flex;
       justify-content: center;
       background-color: rgb(227, 221, 230);
   }

    .portfolio-container {
        background-color: #e66245;
        padding-top: 50px;
    
    }

    .portfolio-info-container {
        display: flex;
        justify-content: center;
    }

    

    .portfolio-images {
        min-height: 200px;
        max-height: 250px;
        padding-top: 10px;
        object-fit: contain;
        background-color: white;
    }
    
   .portfolio-head-text {
       display: flex;
       justify-content: center;
       font-size: 30px;
       font-family: 'Comfortaa', cursive;   
   }

   .portfolio-text {
       text-align: center;
       color: blanchedalmond;
       font-family: 'Comfortaa', cursive;
       font-size: 20px;
   }

  .portfolio-card-head {
      display: flex;
      justify-content: center;
      color: black;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      font-family: 'Comfortaa', cursive;   

  }

   .portfolio-card-text {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Comfortaa', cursive;
        margin-bottom: 30px;
        color: black;
    
    }

    .card {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #gaDark {
        background-color: black;
    }
   /* Footer Section*/
   .footer {
       height: 300px;
       background-color: #315cd3;
   }

   .footer-head {
       display: flex;
       justify-content: center;
       font-family: 'Comfortaa', cursive;
       margin-top: 100px;
       color: white;
   }

   .footer-email {
        color: #f7e225;
        display: flex;
        text-align: center;
        justify-content: center;
        font-family: 'Comfortaa', cursive;
    }

    .footer-phone {
        color: white;
        display: flex;
        justify-content: center;
        font-family: 'Comfortaa', cursive;
    }



    
/* (M) Medium Devices */
@media (min-width: 476px) {
    /* Banner Section (M) */
    .banner-box1 {
         min-height: 300px;
    }
}

@media (min-width: 576px) {
   
}


/* (L) Large Devices */
@media (min-width: 992px) {
    /* Banner Section (L) */
.banner-container {
     box-sizing: border-box; 
    }

    /* About Me Section (L) */
    .about-me-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10vw;
        margin-right: 10vw;
    }

 #about-link-nav {
    display: flex;
    justify-content: center;
    background-color: #e19a59;
 }

 .about-text {
     padding-bottom: 20px;

 }
/* My Experience Section (L) */
#experience-link-nav {
    display: flex;
    justify-content: center;
    background-color: #1b3a63;
    
}

 .my-experience-container {
    display: flex;
     background-color: #1b3a63;
     box-sizing: border-box;
     max-width: 1300px;
    
 }

 .my-experience-head-text {
     display: flex;
     justify-content: center;
     font-family: 'Comfortaa', cursive;
     margin-top: 40px;
   
     margin-bottom: 40px;
     color: blanchedalmond;
 }

 .my-experience-text {
     display: flex;
     justify-content: center;
     font-family: 'Comfortaa', cursive;
     text-align: center;
    
     color: blanchedalmond;
 }

 .portfolio-text {
     display: flex;
     justify-content: center;
     margin-left: 10vw;
     margin-right: 10vw;
     color: blanchedalmond;

 }












}
 

/* Extra Large Devices */
@media (min-width: 1200px) {
  
}





