html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
}
/* Small Devices sm */
@media (min-width: 5px) {
   

    /* Nav Section sm */
    .nav {
        align-items: center;
        height: 10vh;
        background-color: #ffffff;
        box-sizing: border-box;
        font-family: 'Quicksand', sans-serif;
        font-size: 17px;
    }

    .nav-link {
        color: black;
    }

    
    /* Banner Section */
   .banner-container {
       display: flex;
       align-items: center;
       background-image: url('./banner3.jpg');
       background-repeat: none;
       background-size: cover;
       height: 850px;
       box-sizing: border-box;
   }

   .banner-box1 {
       margin-left: 20px;
       color: white;
   }

   .btn {
       margin-top: 20px;
       margin-left: 20px;
       
   }

   /* About Me Section sm */
   .about-me-container {
       align-items: center;
       background-color:#f3f1ca;
       height: 400px;
       box-sizing: border-box;
       
   }

   .about-head-text {
       display: flex;
       justify-content: center;
       margin-bottom: 30px;
   }

   .about-text {
       display: flex;
       justify-content: center;
       text-align: center;
       margin-left: 20px;
       margin-right: 20px;
       
   }

   /* My Experience Section */
   .my-experience-container {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    height: 300px;
    }

    .my-experience-head-text {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 40px;
    }

    .my-experience-text {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 20px;
    }



   /* Cards Section */
   .card-1 {
       min-height: 200px;
       max-height: 200px;
       object-fit: contain;
   }

   .card-2 {
       min-height: 200px;
       max-height: 200px;
       object-fit: contain;
   }

   .card-title {
       display: flex;
       justify-content: center;
   }

   .card-image-top {
       background-size: fill;
   }

   /* Portfolio Section */

    .portfolio-container {
    background-color: #eb6f2e;
    
    }

    .portfolio-images {
        min-height: 200px;
        max-height: 200px;
        object-fit: contain;
    }

   .portfolio-head-text {
       display: flex;
       justify-content: center;
       padding-top: 100px;
       padding-bottom: 30px;
       color: white;
   }

   .portfolio-text {
       display: flex;
       justify-content: center;
       text-align: center;
       margin-bottom: 30px;
       color: white;
       
   }

   /* Footer Section*/
   .footer {
       height: 300px;
       background-color: #315cd3;
   }

   .footer-head {
       display: flex;
       justify-content: center;
       margin-top: 100px;
       color: white;
   }

   .footer-email {
    color: #f7e225;
    display: flex;
    justify-content: center;
    }

    .footer-phone {
    color: white;
    display: flex;
    justify-content: center;
    }

}


/* Medium Devices */
@media (min-width: 576px) {
   .banner-container {
       box-sizing: border-box;
       background-image: url('./banner3.jpg');
       background-size: cover;
       background-repeat: no-repeat;
   }



   /* Portfolio Section */
   .portfolio-container {
    background-color: lightcoral;
    }

    .card-columns {
     
    }


    
}

















/* Large Devices */
@media (min-width: 992px) {
 .banner-container {
     box-sizing: border-box;
    background-image: url('./banner3.jpg');
    background-size: cover;
  
 }
}

/* Extra Large Devices */
@media (min-width: 1200px) {
    .banner-container {
        background-color: yellow;
    }
}
